<head>
	<style>

	h1 {
		text-align: center;
		font-family: sans-serif;
	}

	h3	{
		text-align: center;
		font-family: sans-serif;
	}
	
	</style>
</head>

<body>

	
	<h1>Uptick Downtick Results</h1>

		
		
			<h3>Negative Score:</h3>
				<h3><%= @negative_score %></h3>
					<center><img src="/assets/bulls_bear.JPG" size="cover" align="	absmiddle"></center>
			
			<h3>Positive Score:</h3>
				<h3><%= @positive_score %></h3>
</body>

	<%= link_to "Back", "/stock" %>
