<style>
	h1 {
		text-align: center;
		font-family: sans-serif;
	}

	h4 {
		text-align: center;
		font-family: sans-serif;
	}
	p  {
		font-size: 18px;
		font-family: sans-serif;
		display: inline;
		padding: 80px 0px 80px 0px;

	}

</style>


	}
	<h1>About Uptick Downtick News</h1>


<p>Find out the general web sentiment of a stock.  You dont have to go through all the chat rooms, forums, news feeds, social networks just enter in your stock and let Uptick do the work.  Our proprietary scan will search for all the negative vs positive terms in relation to a stock that you are intersted in, and return you easy to understand data!  See who is winning the battle of the news feeds....BULLS or BEARS! Give it a go and enter your ticker symbol!</p>




<%= link_to "Back", "/stock" %>